@charset "UTF-8";
@media screen and ( max-width: 600px ){ h1::before { font-size: .5em; margin-right: 1em!important; }/* スマホサイズ対応 */}

::selection{ background-color: gold; }
* { font-family: sans-serif; word-break: keep-all; overflow-wrap: break-word; margin: 0; padding: 0; }
body { counter-reset: stepNum 0; position: relative; min-height: 100vh; padding-bottom: 5em; box-sizing: border-box; }

#wrapper { max-width: 98vh; margin: 0 auto; }
h1::before { content: "ものづくりプロジェクト\02160"; padding: .2em 1em; background: white; color: black; border-radius: 5px; margin-right: .5em; }
h1 { padding: .7em; font-size: 1.2em; color: white; background-color: #2D5AA1; margin-bottom: .7em; }
#title { color: white; width : 30%; margin: .5em; padding: .5em; background: navy; border-radius: 5px; }
li { margin-left: 2em; }
#menu { height: 3em; }
.ToHome { float: right; margin: .2em; background-image: url( ../img/Tohome.png ); width: 30px; height: 40px; margin-right: .5em; }
.ToHome:hover { transform: translate( -2px, -1px ); opacity: .7; transition-duration: .3s; }
#troubleS { color: white; width : 30%; margin: .5em; padding: .5em; background: darkred; border-radius: 5px;  }
