@charset "UTF-8";
@media screen and ( max-width: 600px ){
/* スマホサイズ対応 */
h1::before { font-size: .5em; margin-right: 1em!important; }
}
::selection{ background-color: gold; }
* { font-family: sans-serif; word-break: keep-all; overflow-wrap: break-word; margin: 0; padding: 0; }
body { counter-reset: stepNum 0; position: relative; min-height: 100vh; padding-bottom: 5em; box-sizing: border-box; }
a[ target = "_blank" ]::after{ content: none!important; }
a { text-decoration: none!important; padding: 0!important; }

#wrapper { max-width: 98vh; margin: 0 auto; }
h1::before { content: "ものづくりプロジェクト\02160"; padding: .2em 1em; background: white; color: black; border-radius: 5px; margin-right: .5em; }
h1 { padding: .7em; font-size: 1.2em; color: white; background-color: #2D5AA1; margin-bottom: .7em; }
#title { color: white; width : 30%; margin: .5em; padding: .5em; background: navy; border-radius: 5px; }
#Step { position:relative; height: 3em; line-height: 3em; vertical-align: middle; margin-left: .7em; background-color: cadetblue; margin-bottom: .7em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1); }
#Step:hover { transform: translate( -1px, -3px ); opacity: .3; transition-duration: .3s; }
#menu { height: 3em; }
#JumpOfficial { position:relative; width: 16em; height: 1em; line-height: 2em; padding: .5em; background: whitesmoke; border: 1px double #2D5AA1; vertical-align: middle; text-align: center; box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, .5 ); }
#JumpOfficial a, #Step a { padding-left: .7em!important; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 95%; }
#JumpOfficial:hover{ opacity: .5 }
.ToHome { float: right; margin: .2em; background-image: url( ../img/Tohome.png ); width: 40px; height: 40px; margin-right: .5em; }
.ToHome:hover { transform: translate( -2px, -1px ); opacity: .7; transition-duration: .3s; }
#troubleS { color: white; width : 30%; margin: .5em; padding: .5em; background: darkred; border-radius: 5px;  }
.StepNum { border-bottom: dotted 2px forestgreen; margin-bottom: 1em; padding-bottom: .3em; font-size: 1.3em; padding-top: .5em; padding-left: 5em; position: relative; }
.StepNum::before { content: "Step:"; position: absolute; left: .3em; margin-right: .3em; }
.StepNum::after { counter-increment: stepNum 1; content: counter( stepNum ); position: absolute; width: 1.5em; left: 3em; top: .3em; height: 1.5em; border-radius: 50%; text-align: center; background: #2D5AA1; color: mintcream; }
.making { background-color: #cc3300!important; }
.CommentBox { margin: .5em 0; padding: .2em; border: .05rem dotted grey; }

/* 画像 */
/* leapmotion3-1 */
.LM3_1Img1 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 184px; height: 142px; }
.LM3_1Img2 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 309px; height: 142px; background-position: 0 -148px; }
.LM3_1Img3 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 309px; height: 142px; background-position: 0 -295px; }
.LM3_1Img4 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 309px; height: 142px; background-position: 0 -452px; }
.LM3_1Img5 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 309px; height: 142px; background-position: 0 -608px; }
.LM3_1Img6 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 400px; height: 100px; background-position: -7px -753px; }
.LM3_1Img7 { background: url( "../img/LM3_1.png" ); border: .01em grey solid; width: 400px; height: 160px; background-position: 0 -931px; }
/* leapmotion3-2:processing */
.LM3_2_PImg1 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 230px; height: 190px; }
.LM3_2_PImg2 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 230px; height: 190px; background-position: -262px 0; }
.LM3_2_PImg3 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 340px; height: 300px; background-position: -150px -250px; }
.LM3_2_PImg4 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 359px; height: 450px; background-position: 0 -597px; }
.LM3_2_PImg5 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 400px; height: 363px; background-position: 0 -1174px; }
.LM3_2_PImg6 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 400px; height: 363px; background-position: 0 -1554px; }
.LM3_2_PImg7 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 350px; height: 150px; background-position: 0 -2000px; }
.LM3_2_PImg8 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 350px; height: 150px; background-position: 0 -2000px; }
.LM3_2_PImg9 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 350px; height: 500px; background-position: -1px -2195px; }
.LM3_2_PImg10 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 400px; height: 500px; background-position: -1px -2746px; }
.LM3_2_PImg11 { background: url( "../img/LM3_2_P.png" ); border: .01em grey solid; width: 450px; height: 600px; background-position: 0 -4150px; }
